<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@200;300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/v3.4.css' | relative_url }}?v=20260827b">
<link rel="stylesheet" href="{{ '/assets/css/research-refinement.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/blog-refinement.css' | relative_url }}?v=20260827b">

{% seo %}
